/* Pantallas pequeñas */
@media (max-width: 667px) {

    /* Aquí van las reglas CSS para pantallas pequeñas */
    .section {
        margin: 3rem;

    }

    .body {
        width: 100%;
    }

    .bg-about {
        width: auto;
    }

    .profile-wrapper {
        width: 270px;
    }

    nav {

        padding: 0px 1rem 0px 10rem;
    }

    .profile {
        width: 80%;
    }

    .present {
        font-size: 11px;
        margin-top: 20px;
    }

    .btn-common {
        margin-top: 1rem
    }

    .Tech {
        margin-top: -115px;
    }

    #dev-text {
        min-height: 7rem
    }

    .container {
        margin: 8px;

    }

    .navbar-number {
        display: none;
    }

    .navbar-left {
        width: 60%;
        justify-content: center;
    }

    .social {
        display: none;
    }

    .section_one {
        width: 100%;
        padding: 0px;
    }

    .section_two {
        width: 100%;
        padding: 0px;
    }



    .title_web h1 {
        font-size: 7rem;
        line-height: 7rem;
    }

    .section_title_two h1 {
        font-size: 4rem;
        padding-left: 0px;

    }

    .section_title_two img {
        display: none;
    }

    .p20 {
        padding: 2rem;
    }

    .colum {
        width: 100%;
    }

    .bg_contact .buttons {
        flex-direction: column;
    }

    .img-one {
        width: 100%;
        height: 49%;
    }

    .half-width {
        width: 100%;
    }

    .section-project {
        width: 100%;
        z-index: 1;
        color: #fff;
        padding: 2rem;
        box-sizing: border-box;
    }

    .galeria {
        margin-left: 0px;
    }



    .section_footer {
        padding-left: 1rem;

        .w-50 {
            width: 100%;
        }
    }

    .section_footer .w-50 {
        width: 100%;
    }

    footer .display_two {

        margin-left: 19px;
    }

    .pt-19 {
        padding-top: 0rem;
    }

    .bg-about .display_two {
        display: flex;
        align-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .section_lastname {
        padding-left: 0rem;
    }

    .section_lastname .display_two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    footer {
        .w-50 {
            width: 100%;
            text-align: center;
        }
    }

    .logo1 {
        width: 50px;
        margin-left: -60px;
    }

    .navbar-right {
        margin-left: 30px;
    }

    .navbar-right ul {
        list-style: none;
        padding: 0;
        margin-right: 40px;
        display: flex;
        align-items: center;
        height: 20px;
    }

    .title_about {
        font-family: 'Monument Extended';
        font-style: normal;
        font-weight: 300px;
        font-size: 36px;
        text-transform: uppercase;
    }

    .bg_contact .title_web h1 {
        font-size: 4rem;
        line-height: 7rem;
    }

    html {
        font-size: 45.5%;
        width: auto;
    }

    .bg-projects {
        width: 100%;
    }


    p {
        font-size: 16px;
    }

    .proyecto {
        margin: 5px;
    }

    .container {
        margin-right: 0px;
    }
}

/* Pantallas medianas */
@media (min-width: 576px) and (max-width: 768px) {

    /* Aquí van las reglas CSS para pantallas medianas */
    .section_one {
        width: 100%;
    }

    .section_two {
        width: 100%;
    }
}


/* Pantallas grandes */
@media (min-width: 768px) {
    /* Aquí van las reglas CSS para pantallas grandes */
}




/* Aquí van las reglas CSS para pantallas extra grandes */
@media (min-width: 1200px) {
    .bg-about {
        background: radial-gradient(circle farthest-side at left center, #33E459 -2%, var(--primary) 10%);

    }

    .bg-projects {
        background: radial-gradient(circle farthest-side at right center, #33E459 -3%, var(--primary)10%);
    }


    .section {
        margin-left: 25rem;
        margin-right: 25rem;
    }
}