
[data-theme="dark"] {
        --primary: #111;
        --secondary: #33E459;
        --black: #111;
        --white: #fff;
        --gray: #B3B3B3;
        --color-text: #ffffff;
        --bg-two: #111;
        --btn-common:var(--white);
        --nav:var(--black)
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.sliderDark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.sliderDark:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 252, 252);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .sliderDark {
    background-color: #ffffff;
}
  
input:checked + .sliderDark:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000;
}
