[data-theme="light"] {
    --primary: #FFFFFF;
    --secondary: #33E459;
    --black: #000;
    --white: #fff;
    --gray: #B3B3B3;
    --color-text: #000;
    --bg-two: #F2F2F2;
    --boton: transparent;
}

[data-theme="dark"] {
    --primary: #111;
    --secondary: #33E459;
    --black: #111;
    --white: #fff;
    --gray: #B3B3B3;
    --color-text: #ffffff;
    --bg-two: #111;
    --boton: var(--white)
}

html {
    font-size: 62.5%;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: var(--primary) !important;
    color: var(--color-text);
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-text);
}

a {
    cursor: pointer;
}

.color-green {
    color: var(--secondary);
}

.bg-primary {
    background-color: var(--black);
    color: var(--white);
}

.section-bg {
    background: var(--secondary);
    background: radial-gradient(circle farthest-corner at top right, #33E459 2%, var(--primary) 16%);
    background-repeat: no-repeat;
}

.bg-gren {
    background-color: var(--secondary) !important;
}

.section {
    margin: 10rem;
}

.display_two {
    display: flex;

}

.section_one {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    width: 50%;
}

.section_two {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: nowrap;

}

.section_two a {
    margin-bottom: 4rem;
}

.section_title_two {
    display: flex;
    align-items: center;

}

.center_flex {
    display: flex;
    align-items: center;
    text-align: center;
}

.section_title_two h1 {
    padding-left: 30px;
}

.title_web h1 {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120px;
    /* identical to box height */
    text-transform: uppercase;
}

.section_one h1 {
    margin: 0;
}

.section_one .subtutle p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.btn-social {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-common {
    font-family: 'Monument Extended';
    border-radius: 25px;
    background-color: var(--boton);
    width: 20rem;
    height: 47px;
    border: 2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}

.section_one .buttons .btn-common {
    margin-right: 2rem;
}

.title_about {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
}

.img_profile {
    border-radius: 100%;
    width: 17rem;
    height: fit-content;
}

.img_profile:hover {
    transform: scale(1.5);
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.last_name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    scale: 1.2;
}

.section_lastname {
    padding-left: 5rem;
}

.section_lastname h5 {
    margin: 0;
}

.about .btn-social {
    margin-right: 4rem;
    margin-top: 1rem;
}

.languages {
    align-items: flex-start;
}

.languages .btn-common {
    width: auto;
    padding: 0px 5rem;
    margin: 5px;
}

.pt-19 {
    padding-top: 19rem;
}

.colum {
    flex-direction: column;
}

.w-50 {
    width: 50%;
}

.logofooter {
    width: 8rem;
}

.section_footer {
    padding-left: 10rem;
    padding-right: 10rem;
}

footer .display_two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer .btn-social {
    margin: 2rem;
}

.bg_contact .center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.bg-about {
    background: var(--secondary);
    background: radial-gradient(circle farthest-side at left center, #33E459 -2%, var(--primary) 20%);
    background-repeat: no-repeat;

}

.bg-projects {
    background: var(--secondary);
    background: radial-gradient(circle farthest-side at right center, #33E459 -3%, var(--primary) 19%);
    background-repeat: no-repeat;
}

#dev-text {
    min-height: 12rem;
}

.logo1 {
    width: 50px;
}

.switch2 {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #feffff;
    transition: .4s;
    border-radius: 30px;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #33E459;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider2 {
    background-color: black;
}

.input:focus+.slider2 {
    box-shadow: 0 0 1px #33E459;
}

.input:checked+.slider2:before {
    transform: translateX(30px);
}


.enlace {
    text-decoration: none;
    color: black;
    /* Establece el color del texto (en este caso, negro) */
    text-shadow:
        1px 0 0 white,
        /* Borde a la derecha de las letras */
        -1px 0 0 white,
        /* Borde a la izquierda de las letras */
        0 1px 0 white,
        /* Borde por debajo de las letras */
        0 -1px 0 white;
    /* Borde por encima de las letras */
}



.img-container {
    width: 500px;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-container img {
    width: 800px;
    height: 500px;
    background-color: var(--primary);
    border-radius: 16px;
    position: absolute;
    user-select: none;
    transition-property: transform, opacity, zIndex, ;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    margin-left: 20%;
}


.arrows {

    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.arrows svg {
    width: 950px;
    height: 80px;
    position: relative;
    fill: #33E459;
    opacity: 0.8;
    cursor: pointer;
    margin-left: 15%;
}

.arrows svg:active {
    transform: scale(0.9);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.proyecto {
    cursor: pointer;
}

.img-container {
    cursor: pointer;
}